h1 {
    font-size: 150%;
}

.main {
    padding: 30px;
    font-size: 16pt;

    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: 10px;
    }

    .decode-button {
        background-color: #48bb78;
        color: white;
        flex: 1;
    }

    .error-box {
        color: red;
        font-weight: bold;
        border: 3px solid red;
        padding: 20px;
    }

    .decoded-box {
        border: 3px solid green;
        padding: 20px;
        font-family: monospace;

        .summary {
            font-size: 120%;
            margin-bottom: 20px
        }

        .batch-item {
            border: 2px solid blue;
            margin-top: 30px;
            padding: 5px;

            .header-row {
                display: flex;
                justify-content: space-between;
                padding-top: 3px;
            }

            .args {
                padding-top: 15px;
                padding-left: 30px;

                >div >div {
                    padding-top: 3px;
                }
            }
        }
    }
}
